<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Home</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="../assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="../assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/color_skins.css">
</head>

<body class="theme-blue">

<!-- Page Loader -->
<!--<div class="page-loader-wrapper">-->
<!--    <div class="loader">-->
<!--        <div class="m-t-30"><img src="../assets/images/scissors.png" width="48" height="48" alt="scissors"></div>-->
<!--        <p>Please wait...</p>-->
<!--    </div>-->
<!--</div>-->
<!-- Overlay For Sidebars -->
<div class="overlay" style="display: none;"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-brand">
                <a href="/home">
                    <img src="../assets/images/scissors.png" alt="HairCuts Logo" class="img-responsive logo">
                    <span class="name">HairCuts</span>
                </a>
            </div>

            <div class="navbar-right">
                <ul class="list-unstyled clearfix mb-0">
                    <li>
                        <div class="navbar-btn btn-toggle-show">
                            <button type="button" class="btn-toggle-offcanvas"><i
                                        class="lnr lnr-menu fa fa-bars"></i></button>
                        </div>
                    </li>
                    <li>
                        <form id="navbar-search" class="navbar-form search-form">
                            <input value="" class="form-control" placeholder="Search here..." type="text">
                            <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                        </form>
                    </li>
                    <li>
                        <div id="navbar-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu"
                                       data-toggle="dropdown">
                                        <i class="icon-bell"></i>
                                        <span class="notification-dot"></span>
                                    </a>
                                    <ul class="dropdown-menu animated bounceIn notifications">
                                        <li class="header"><strong>You have 4 new Notifications</strong></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-warning"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Campaign <strong>Holiday Sale</strong> is
                                                            nearly reach budget limit.</p>
                                                        <span class="timestamp">10:00 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-like text-success"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Your New Campaign <strong>Holiday
                                                                Sale</strong> is approved.</p>
                                                        <span class="timestamp">11:30 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-pie-chart text-info"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Website visits from Twitter is 27% higher
                                                            than last week.</p>
                                                        <span class="timestamp">04:00 PM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-danger"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Error on website analytics configurations
                                                        </p>
                                                        <span class="timestamp">Yesterday</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="footer"><a href="javascript:void(0);" class="more">See all
                                                notifications</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="icon-menu js-right-sidebar"><i
                                                class="icon-settings"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="leftsidebar" class="sidebar">
        <div class="sidebar-scroll">
            <nav id="leftsidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="heading">Main</li>
                    <li class="active"><a href="/home"><i class="icon-home"></i><span>Home</span></a></li>
                    <li class="heading">App</li>
                    <li><a href=""><i class="icon-envelope"></i><span>Booking</span></a></li>
                    <li><a href=""><i class="icon-envelope"></i><span>History</span></a></li>
                    <li><a href="/chat"><i class="icon-bubbles"></i><span>Chat</span></a></li>
                    <li><a href="/calendar"><i class="icon-calendar"></i><span>Calendar</span></a></li>
                    <li><a href="/taskboard"><i class="icon-notebook"></i><span>Taskboard</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <!--    if(select="male" == ""){-->
    <!--    }-->


    <div id="main-content" class="taskboard">

        <script>
            var rad = document.dsadsad.gender;
            var prev = null;
            for(var i = 0; i < rad.length; i++) {
                rad[i].onclick = function () {
                    $("#submitaa").click();
                };
            }

        </script>

        <form name="dsadsad">
            <div style="position: relative; margin-left: 14px">
                <H3  style="  margin-right: 16px;display: inline-block; color: darkred">Status book: </H3>
                <div style="  margin-right: 16px;display: inline-block">
                    <input type="radio" id="male" name="gender" value="pedding"
                    <% if(select == "pedding" ||select == "undefined" ){ %> checked="checked" <% } %>
                    >
                    <label for="male" style="color: white">Pedding</label><br>
                </div>
                <div style=" margin-right: 16px; display: inline-block">
                    <input type="radio" id="female" name="gender" value="wait"
                    <% if(select == "wait"){ %> checked="checked" <% } %>
                    >
                    <label for="female" style="color: white">Wait</label><br>
                </div>

                <div style="  margin-right: 16px;display: inline-block">
                    <input type="radio" id="other" name="gender" value="done"
                    <% if(select == "done"){ %> checked="checked" <% } %>
                    >
                    <label for="other" style="color: white">Done</label>
                </div>
                <input id="submitaa " type="submit" />

            </div>
        </form>


        <ul style="">
            <% for (var i = 0; i < dataa.length; i++){ %>
                <li type="submit"
                    style="color: white; list-style-type: none;background-color: #0d97ff; border-radius: 15px; padding: 10px;  margin-top: 40px; cursor: pointer; width: auto">
                    <div style="position: relative">
                        <% if(!dataa[i].name == ""){ %>
                            <%= "Name: " + dataa[i].name %>
                        <% } else{ %>
                            <%= "Name: " + "No name" %>
                        <% } %>
                        <br>
                        <% var textService = "" %>
                        <% for (var j = 0; j < dataa[i].services.length; j++){ %>
                            <% if(j == 0){ %>
                                <% textService += "" + dataa[i].services[j].service %>
                            <% } else{ %>
                                <% textService += ", " + dataa[i].services[j].service %>
                            <% } %>
                        <% } %>
                        <a style="color: white; list-style-type: none; margin-top: 10px; padding-top: 10px">
                            <%= "Service: " + textService %>
                        </a>
                            <br>
                            <a style="color: yellow; font-size: 22px;list-style-type: none; margin-top: 10px; padding-top: 10px"  <% if(select == "wait" || select == "pedding"){ %> hidden="hidden" <% } %>>
                                <b>  <%= "Status: " + dataa[i].status %></b>
                            </a>
                        <form method="post" action="/home"   >
                            <input hidden name="abccc" value="<%= dataa[i]._id %>"
                                   style=" right: 6px;top: 2px; border-radius: 4px; height: 100%; background-color: green; color: white;  cursor: pointer"/>
                            <div style="display: grid; position: absolute;  width: 100px; right: 10px; top: 0px; bottom: 0px" <% if(select == "done" || select == "wait"){ %> hidden="hidden" <% } %>>
                                <button name="Confirm" type="submit" id="1" value="Confirm"
                                        style=" right: 6px;top: 2px; border-radius: 4px; height: 100%; background-color: green; color: white;  cursor: pointer">
                                    Confirm
                                </button>
                                <button name="Deny" type="submit" id="2" value="Deny"
                                        style=" right: 6px; height: 100% ; border-radius: 4px; background-color: darkred; color: white; cursor: pointer ">
                                    Deny
                                </button>
                            </div>

                            <div style="display: grid; position: absolute;  width: 100px; right: 10px; top: 0px; bottom: 0px" <% if(select == "done" || select == "pedding"){ %> hidden="hidden" <% } %>>
                                <button name="Completed" type="submit" id="3" value="Completed"
                                        style=" right: 6px;top: 2px; border-radius: 4px; height: 100%; background-color: green; color: white;  cursor: pointer">
                                    Completed
                                </button>
                            </div>
                        </form>

                    </div>


                </li>
            <% } %>
        </ul>
    </div>


</div>

<!-- Javascript -->
<script src="../assets/bundles/libscripts.bundle.js"></script>
<script src="../assets/bundles/vendorscripts.bundle.js"></script>

<script src="../assets/bundles/chartist.bundle.js"></script>
<script src="../assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="../assets/bundles/flotscripts.bundle.js"></script> <!-- flot charts Plugin Js -->
<script src="../assets/vendor/flot-charts/jquery.flot.selection.js"></script>

<script src="../assets/bundles/mainscripts.bundle.js"></script>
<script src="../assets/js/index.js"></script>
</body>
</html>