<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Task board</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/nestable/jquery-nestable.css"/>
    <link rel="stylesheet" href="../assets/vendor/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/color_skins.css">
</head>

<body class="theme-blue">

<!-- Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay" style="display: none;"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-brand">
                <a href="/home">
                    <img src="../assets/images/scissors.png" alt="HairCuts Logo" class="img-responsive logo">
                    <span class="name">HairCuts</span>
                </a>
            </div>

            <div class="navbar-right">
                <ul class="list-unstyled clearfix mb-0">
                    <li>
                        <div class="navbar-btn btn-toggle-show">
                            <button type="button" class="btn-toggle-offcanvas"><i
                                        class="lnr lnr-menu fa fa-bars"></i></button>
                        </div>
                    </li>
                    <li>
                        <form id="navbar-search" class="navbar-form search-form">
                            <input value="" class="form-control" placeholder="Search here..." type="text">
                            <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                        </form>
                    </li>
                    <li>
                        <div id="navbar-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu"
                                       data-toggle="dropdown">
                                        <i class="icon-bell"></i>
                                        <span class="notification-dot"></span>
                                    </a>
                                    <ul class="dropdown-menu animated bounceIn notifications">
                                        <li class="header"><strong>You have 4 new Notifications</strong></li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-warning"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Campaign <strong>Holiday Sale</strong> is
                                                            nearly reach budget limit.</p>
                                                        <span class="timestamp">10:00 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-like text-success"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Your New Campaign <strong>Holiday
                                                                Sale</strong> is approved.</p>
                                                        <span class="timestamp">11:30 AM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-pie-chart text-info"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Website visits from Twitter is 27% higher
                                                            than last week.</p>
                                                        <span class="timestamp">04:00 PM Today</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="icon-info text-danger"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text">Error on website analytics configurations
                                                        </p>
                                                        <span class="timestamp">Yesterday</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="footer"><a href="javascript:void(0);" class="more">See all
                                                notifications</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="icon-menu js-right-sidebar"><i
                                                class="icon-settings"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="leftsidebar" class="sidebar">
        <div class="sidebar-scroll">
            <nav id="leftsidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="heading">Main</li>
                    <li><a href="/home"><i class="icon-home"></i><span>Home</span></a></li>
                    <li class="heading">App</li>
                    <li><a href="/chat"><i class="icon-bubbles"></i><span>Chat</span></a></li>
                    <li><a href="/calendar"><i class="icon-calendar"></i><span>Calendar</span></a></li>
                    <li class="active"><a href="/taskboard"><i class="icon-notebook"></i><span>Taskboard</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-content" class="taskboard">
        <a style="font-size: 33px; color: white; width: 100%; text-align: center; -ms-transform: translateY(-50%); transform: translateY(-50%)">Hình
            ảnh đang được hiển thị trên app.</a>
        <br>
        <br>
        <br>
        <br>
        <img src="<%= data[0].image_link1 %>" alt="" width="18%" height="200"
             style="margin:10px;background-position:center center;background-color: grey; border-radius: 15px">
        <img src="<%= data[0].image_link2 %>" alt="" width="18%" height="200"
             style="margin:10px;background-position:center center;background-color: grey; border-radius: 15px">
        <img src="<%= data[0].image_link3 %>" alt="" width="18%" height="200"
             style="margin:10px;background-position:center center;background-color: grey; border-radius: 15px">
        <img src="<%= data[0].image_link4 %>" alt="" width="18%" height="200"
             style="margin:10px;background-position:center center;background-color: grey; border-radius: 15px">
        <img src="<%= data[0].image_link5 %>" alt="" width="18%" height="200"
             style="margin:10px;background-position:center center;background-color: grey; border-radius: 15px">
        <form method="get" action="/taskboard">
            <input type="submit" name="submit" value="Change image"
                   style=" animation:bouncy 5s infinite linear;  position:relative; left: 0px; right: 0px; margin-top: 30px;  position: absolute;   left: 50%; transform: translate(-50%,-50%);">
        </form>
        <br>
        <br>
        <br>
        <br>
        <div style="background-color: white; height: 0.5px; width: 100%"/>
        <br>
        <br>
        <a style="font-size: 33px; color: white; width: 100%; text-align: center; -ms-transform: translateY(-50%); transform: translateY(-50%)">Bài
            viết mới</a>
        <br>
        <br>
        <br>
        <br>
        <% for (var i = 0; i < dataNewPaper.length; i++){ %>
            <div style="position:relative">
                <input hidden name="id_new" value="<%= dataNewPaper[i].id %>">
                <img src="<%= dataNewPaper[i].linksHD %>" style="position:absolute;width: 120px; height: 120px"/>
                <a style="color: white; margin-left: 170px; font-size: 21px">    <%= dataNewPaper[i].titles %></a>
                <br>
                <br>
                <div style="color: white; margin-left: 170px; top: 50px; max-lines: 4; height: 4.5em;  overflow: hidden;">    <%= dataNewPaper[i].content %></div>
            </div>
            <br>
            <br>
            <br>
            <br>
        <% } %>
    </div>
    <form>
        <input type="submit"  name="submit" style="display: block; position: fixed;bottom: 20px; right: 30px; z-index: 99;font-size: 18px;border: none;outline: none;background-color: red;color: white;cursor: pointer;padding: 15px;border-radius: 4px;" id="myBtn" title="Go to top" value="Thêm Bài viết"></input>
    </form>
</div>

<!-- Add New Task -->
<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add New Task</h6>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Task no.">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job title">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <select class="form-control show-tick m-b-10">
                            <option>Select Team</option>
                            <option>John Smith</option>
                            <option>Hossein Shams</option>
                            <option>Maryam Amiri</option>
                            <option>Tim Hank</option>
                            <option>Gary Camara</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label>Range</label>
                        <div class="input-daterange input-group" data-provide="datepicker">
                            <input type="text" class="form-control" name="start">
                            <span class="input-group-addon"> to </span>
                            <input type="text" class="form-control" name="end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="../assets/bundles/libscripts.bundle.js"></script>
<script src="../assets/bundles/vendorscripts.bundle.js"></script>

<script src="../assets/vendor/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->
<script src="../assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
<script src="../assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap datepicker Plugin Js -->

<script src="../assets/bundles/mainscripts.bundle.js"></script>
<script src="../assets/bundles/morrisscripts.bundle.js"></script>
<script src="../assets/js/pages/ui/sortable-nestable.js"></script>
<script src="../assets/js/pages/ui/dialogs.js"></script>
</body>

</html>